import chiselBuild.ChiselDependencies

name := "skeleton"

version := "1.0"

scalaVersion := "2.11.11"

resolvers ++= Seq(
  Resolver.sonatypeRepo("snapshots"),
  Resolver.sonatypeRepo("releases")
)

// The Chisel projects we know we'll require.
// This could be any (or all) of the BIG4 projects
// NOTE: The names used here must match the names set in the relevent project's
//  build.sbt file.
val chiselPackages: Seq[String] = Seq("chisel3", "chisel-iotesters")

libraryDependencies ++= ChiselDependencies.chiselLibraryDependencies(chiselPackages)

libraryDependencies ++= Seq(
  "org.scalatest" %% "scalatest" % "3.0.1",
  "org.scalacheck" %% "scalacheck" % "1.13.4")

lazy val skeleton = (project in file(".")).dependsOn(ChiselDependencies.chiselProjectDependencies():_ *)
